* {
    font-family: avenir;
}

body {
  margin: 4%;
}

div {
  margin: 4% 0% 4% 0%;
}

span {
  margin: 0;
}

hr {
  margin-top: 4%;
  margin-bottom: 4%;
  clear: both;
}

div#home{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}


a {
  color: black;
}

a.horizontal-top {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  font-size: 5vw;
  text-decoration: none;
  margin: 10%;
  padding-left: 10px;
  padding-right: 10px;

}

a.vertical-rt {
  transform: rotate(90deg);
	transform-origin: left top 0;
  grid-row-start: 3;
  grid-column-start: 6;
  font-size: 5vw;
  text-decoration: none;
}

a.horizontal-bottom {
  grid-column-start: 3;
  grid-row-start: 5;
  text-align: center;
  font-size: 5vw;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

}

a.vertical-lt {
  transform: rotate(270deg);
	transform-origin: left top 0;
  grid-row: 5;
  grid-column-start: 1;
  font-size: 5vw;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover span{
  background-color: #D0FF00;
}

del {
  grid-column: 3;
  grid-row: 4;
  text-align: center;
  margin: 30px 0px 30px 0px;
  color: #D0FF00;
  font-size: 20px;
}

h4 {
  font-family: 'Roboto Slab', serif;
  color: black;
}

#title {
  display: block;
}

#icon.center {
  width: 85%;
  height: auto;
  grid-column: 3;
  grid-row: 3;
  display: block;
  margin: 0 auto;
}

h2 span{
  background-color: #D0FF00;
}

#headshot {
  width: 175px;
  height: auto;
  float: right;
  padding-left: 4vw;
  padding-right: 4vw;
  margin: 0;
}


li {
  margin: 2%;
}

#experience img {
  width: %;
  height: auto;
}

p {
  font-family: 'Roboto Slab', serif;
  display: block;
}

.shot-title {
  text-decoration: none;
}

.shot-title:hover {
  color: #D0FF00;
  text-decoration: none;
}

.screen-shot {
 width: 40%;
 height: auto;
 margin-bottom: 6%;
}

#taco-shot {
  float: left;
  margin-right: 2%;
}

#drone-shot {
  float: right;
  margin: 2% 0% 6% 2%;
}

#desk-shot {
  float: left;
  margin-right: 2%;
}

#drone-pg {
  margin-bottom: 6%;
}

a.icons {
  font-size: 30px;
  text-decoration: none;
}

a.icons:hover {
  color: #D0FF00;
  text-decoration: none;
}

.contact-info {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.hr {
  margin-top: 4%;
  margin-bottom: 4%;
}
