* {
    font-family: avenir;
}

hr {
  margin: 2%;
  clear: both;
}

div#home{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

div.container{
  margin: 2%;
}

a {
  color: black;
}

a.horizontal-top {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  font-size: 5vw;
  text-decoration: none;
  margin: 10%;
  padding-left: 10px;
  padding-right: 10px;

}

a.vertical-rt {
  transform: rotate(90deg);
	transform-origin: left top 0;
  grid-row-start: 3;
  grid-column-start: 6;
  font-size: 5vw;
  text-decoration: none;
}

a.horizontal-bottom {
  grid-column-start: 3;
  grid-row-start: 5;
  text-align: center;
  font-size: 5vw;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

}

a.vertical-lt {
  transform: rotate(270deg);
	transform-origin: left top 0;
  grid-row: 5;
  grid-column-start: 1;
  font-size: 5vw;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover span{
  background-color: #D0FF00;
}

del {
  grid-column: 3;
  grid-row: 4;
  text-align: center;
  margin: 30px 0px 30px 0px;
  color: #D0FF00;
  font-size: 20px;
}

h4 {
  font-family: 'Roboto Slab', serif;
  color: black;
}

#title {
  display: block;
}

#icon.center {
  width: 85%;
  height: auto;
  grid-column: 3;
  grid-row: 3;
  display: block;
  margin: 0 auto;
}

h3 span{
  background-color: #D0FF00;
}

#headshot {
  width: 18%;
  height: auto;
  float: right;
  padding-left: 2em;
  padding-right: 2em;
}


li {
  margin: 2%;
}

#experience img {
  width: %;
  height: auto;
}

p {
  font-family: 'Roboto Slab', serif;
  display: block;
}

#taco-shot {
 width: 40%;
 height: auto;
}

#drone-shot {
  width: 40%;
  height: auto;
}

#desk-shot {
  width: 40%;
  height: auto;
}
