* {
    font-family: avenir;
    margin: auto;
}

section {
  padding: 4%;
}

#home {
  padding: 0;
}

hr {
  border-color: black;
  margin-top: 0;
  margin-bottom: 3%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.link:hover {
  background-color: #D0ff00;
}

img {
  align-content: center;
  width: 85%;
}

h1 {
  font-size: 7vw;
  text-align: center;
  color: black;
}

#about {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  text-align: left;
  top: 12vw;
}

#projects {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  text-align: left;
  top: 15vw;
}

#welcome {
  font-size: 2vw;
  margin: 4%;
  font-family: Avenir;
}

a:visited {
  color: black;
}

#title {
  display: block;
}

#icon.center {
  width: 85%;
  height: auto;
  grid-column: 3;
  grid-row: 3;
  display: block;
  margin: 0 auto;
}

h2 {
  margin-bottom: 4%;

}

.breadcrumb {
  font-family: Avenir;
  font-size: 30px;
  background-color: inherit;
}

#project-section {
  background-color: black;
  color: white;
}

#project-contain {
  padding-bottom: 4%;
  margin-bottom: 4%;
  border: 5px solid red;
}

h3 {
  margin: 0;
  text-decoration: none;
}

h3:hover {
  text-decoration: none;
  color: black;
}

#about-section {
  background-color: black;
  color: white;
}

#headshot {
  width: 35%;
  height: auto;
  float: left;
  vertical-align: middle;
}

#experience img {
  width: %;
  height: auto;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

div.container {
  margin-top: 8%;
  margin-bottom: 8%;
}

.description {
  background-color: white;
  border: 2px solid black;
  box-shadow: 15px 15px #D0FF00;
  padding: 4%;
  width: 60vw;
  height: auto;
  text-align: left;
  text-decoration: none;
  margin: 0;
}

.description:hover {
  background-color: #B4B4B4;
  text-decoration: none;
  color: black;
}


.shot-title {
  text-decoration: none;
}

.shot-title:hover {
  color: #D0FF00;
  text-decoration: none;
}

.screen-shot {
 width: 60%;
 height: auto;
 margin-bottom: 6%;
 border: 2px solid black;
}

#taco-shot {
  float: left;
  margin-right: 2%;
}

#drone-shot {
  float: right;
  margin: 2% 0% 6% 2%;
}

#desk-shot {
  float: left;
  margin-right: 2%;
}

#drone-pg {
  margin-bottom: 6%;
}

a.icons {
  font-size: 5vw;
  text-decoration: none;
}

a.icons:hover {
  color: #d0ff00;
  text-shadow: 2px 2px black;
}

ul {
  list-style: none;
}

li {
  text-align: center;
  font-size: 10vw;
  margin: 4%;
  color: black;
  text-shadow: 3px 3px #D0FF00;
}

#white-hr {
  border-color: white;
}

.description-inverse {
  background-color: white;
  border: 2px solid black;
  box-shadow: 12px 12px #D0FF00;
  padding: 4%;
  width: 70%;
  height: auto;
  margin: 2%;
  color: black;
  text-align: left;
}

#about-contain {
  padding-bottom: 4%;
}

#contact {
  padding-bottom: 4%;
}

.contact-info {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
